.thumbnail .control {
    margin: -15px;
    position: absolute;
    z-index: 10;
    background: transparent;
    opacity: 0.9;
    padding: 0px;
}

.thumbnail-event{
    background: #F2F2F2;
}

.thumbnail-event > p{
    margin-top: 10px;
}

td {
    padding-top: .7em;
}

table{
	margin-bottom: 10px;
}